doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='https://fonts.googleapis.com/css?family=Merriweather|Raleway', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Titillium+Web', rel='stylesheet')
  header
    ul
      li
        a(href='/').title NodeBlog
      if(!currentUser)
        li
          a(href="/login").other Login
        li
          a(href="/register").other Signup
      if(currentUser)
        li
          a(href="/blogs/new").other Add Post
        li
          a(href="/logout").other Logout
  body
    .container
      if(error && error.length > 0)
        p.input.red=error
      if(success && success.length > 0)
        p.input.green=success
      block content
      hr
      footer
        p.date
          |NodeBlog &copy; 2016
