body {
  width: 45%;
  min-width: 650px;
  margin: 0 auto;

  color: #666666;
  /*font-family: 'Merriweather', serif;*/

  font-family: 'Raleway', sans-serif;
}
header ul{
  overflow: hidden;

  margin: 0;
  margin-top: 7%;
  padding: 0;

  list-style-type: none;
}
header ul li{
  display: inline;

}
header ul li a{
  display: block;

  padding: 1em;

  transition: 1s;
  text-align: center;
  text-decoration: none;
  /*text-transform: uppercase;*/
}
header ul li a:hover{
  color: #776ea7;
}

.title{
  float: left;

  padding: 0.5em;
  padding-left: 0;
  /*font-family: 'Ranga', cursive;*/

  letter-spacing: 3px;

  color: #776ea7;

  font-size: 2em;
  font-weight: 800;
}

.other{
  float: right;

  margin: 10px;

  text-transform: uppercase;

  color: #666666;
  /*letter-spacing: 3px;*/
}
.nadpis{
  letter-spacing: 3px;
  text-transform: uppercase;

  color: #61bfad;
  /*font-family: 'Ranga', cursive;*/

  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}
.article_preview{
  padding-bottom: 3%;

  letter-spacing: 1px;

  color: #555;
  /*font-family: 'Merriweather', serif;*/

  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
  line-height: 25px;
}

.read{
  padding: 0.5px;

  transition: 0.5s;
  text-decoration: none;
  text-transform: capitalize;

  color: #666666;
  border-bottom: 1px solid #61bfad;
  background-color: white;
}
.read:hover{
  color: #61bfad;
}
.purple{
  border-bottom: 1px solid #776ea7;
}
.purple:hover{
  color: #776ea7;
}
.red{
  border-bottom: 1px solid #ff8b8b;
}
.red:hover{
  color: #ff8b8b;
}
.yellow{
  border-bottom: 1px solid #focf61;
}
.yellow:hover{
  color: #focf61;
}
.date{
  display: inline;

  margin: 0;
  padding: 0;

  text-transform: full-width;

  color: grey;

  font-size: 0.75em;
}
.main_nadpis{
  margin: 0;
  padding: 0;

  letter-spacing: 3px;

  color: #61bfad;

  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  font-weight: 700;
}
.main_header{
  margin-top: 30px;
  margin-bottom: 15px;
}
.main_body{
  letter-spacing: 1px;

  color: #555;
  /*font-family: 'Merriweather', serif;*/

  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
  font-weight: 200;
  line-height: 30px;
}
.form_item{
  padding: 10px 0;
}
.form_item label{
  display: block;
}
.form_item textarea{
  overflow: visible;

  height: 250px;

  resize: none;
}
.input{
  box-sizing: border-box;
  width: 100%;
  padding: 10px 15px;

  letter-spacing: 1px;

  color: #555;
  border: 3px solid #61bfad;
  background-color: white;

  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
}
.input.red{
  color: #ff8b8b;
  border: 3px solid #ff8b8b;
}
.input.green{
  color: #61bfad;
  border: 3px solid #61bfad;
}
.right{
  float: right;
}
.left{
  float: left;
}
.controls{
  display: inline;
  float: right;
}
a.read:active{
  border: 1px solid #61bfad;
}
button{
  padding: 0;

  cursor: pointer;

  border: none;
}
hr{
  border: 1px dashed #61bfad;

}
